/* selector elemen digunakan untuk merujuk pada elemen html berdasarkan elementitu */
body {
    background-color: lightgrey;
    margin:25px;
}
/* selector id digunakan untuk merujuk pada element html berdasarkan atribut id */
#header{
    background-color: burlywood;
    text-align: center;
    /* padding penulisan tunggal */
    
    /*  atas, kanan, bawah, kiri */
    padding: 10px;
}
#header h1{
    color:blue;
}
#header blockquote{
    background-color: yellow;
    border: 2px dotted;
}

.menu ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.gambar{
    text-align:center;
    
}

/* selector pseudo element digunakan untuk merujuk bagian tertentu dari element */
/* bisa bagian awal atau bagian akhir saja dalam semua element */
.fp::first-letter{
    color: blue;
    font-size: 70px;

}
.koleksi {
    text-align: center;
}
.koleksi img{
    width: 270px;

}












